



.messager_errors {
	text-align: center;
	width: 100%;
	height: auto;
	padding: 30px;
	position: relative; 
	margin-top: 100px;
}

.messager_errors i {
	font-size: 130px;
	margin-bottom: 21px;
}

.alert-posts {
	position: fixed;
	z-index: 9909;
	bottom: 50px;
	left: 0px;
	right: 0px;
	width: 50%;
	margin: 0 auto;
}

.right .chat-avatar {
	margin-right: 10px !important;
}

.wrappImgDisplay {
	position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden; 
    background: #24333a; 
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}
  
.wrappImgDisplay img  {
	display: block;
	width: 100%;
	-o-object-fit: cover;
	-o-object-position: top;
}
@supports (object-fit: cover) {
  .wrappImgDisplay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-position: center;
  }
}



.chat-conversation {
	background: #0e1217 url('../../assets/img/background-chat.png');
	padding-left: 12px;
}

 
a:hover {
	text-decoration: underline !important;
}

.wrapped-profileImg {
	height: 200px;
	position: relative;
	overflow: hidden;
}

.wrapped-profileImg img {
	max-width: 100%;
	max-height: 100%; 
	vertical-align: middle; 
}
@supports (object-fit: cover) {
  .wrapped-profileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-position: center;
  }
}
.profile-block {
	position: relative;
	width: 100%;
	min-height: 200px;
	padding: 20px;
}

.avatar-sm {
	position: relative;
	overflow: hidden;
}

.profile-img {
	position: relative; 
	width: 200;
	width: 100%;  
	overflow: hidden; 
}

.profile-img img {
	display: block; 
	height: 200px;
	width: 100%; 
	-o-object-position: center;
	-o-object-fit: cover;
}
.profile-img label { 
	position: absolute;
	left: 50%;
	bottom: 0%;
	line-height: 50px;
	color: #fff;
	font-size: 22px;
	width: 50px;
	height: 50px; 
	cursor: pointer;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 11;
	background: rgba(0,0,0,0.5); 
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	-ms-border-radius: 50em;
	-o-border-radius: 50em;
}
 
.offline {
	position: relative;
	border: 3px #e05e42 solid;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	-ms-border-radius: 50em;
	-o-border-radius: 50em;
}

.online {
	position: relative;
	border: 3px #42e06b solid;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	-ms-border-radius: 50em;
	-o-border-radius: 50em;
}

.admin-users-list { 
	min-height: 300px; 
}

.extra-fields-customer {
	padding:8px;	
	line-height: 35px;
}

.customer_records input {
	margin-bottom: 12px;
}

.float-start  {
	position: relative;
}

.crumb_header {
	position: relative;
	width: 100%;
	min-height: 40px;
}
.crumb_header ul {
	display: table;
}
.crumb_header ul li {
	float: left;
	list-style-type: none;
	margin-right: 20px;
	position: relative;
}
.crumb_header ul li:nth-of-type(1) { 
	margin-left: -21px;
}

.crumb_header ul li:nth-of-type(3) a { 
	color: #4694b9 !important;
}
.crumb_header ul li:after {
	position: absolute;
	content: '/';
	right: -14px;
	color: #2d5b75 !important;
}
.crumb_header ul li:last-child:before {
	display: none;
}

.post_blocks {
	position: relative;
	width: 100%;
	min-height: 200px;
	overflow: hidden;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
}
.post_blocks:after {
	display: block;
	position: absolute;
	content: '';
	z-index: 1; 
	 background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.18809530648196782) 0%, rgba(0,0,0,1) 72%); 
	height: 100%;
	width: 100%;
	top: 0px;
	bottom: 0px;
	right: 0px; 
	left: 0px;
}

.content-body {
	position: relative;
	z-index: 4;
	padding: 10px;
	width: 100%;
	height: auto;
}
.profile-imag {
	position: relative;
	width: 100%; 
	min-height: 50px;
	background: #27373d;
	margin: 0 auto;
	margin-bottom: 12px;
	padding: 10px;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}
.profile-imag img {
	border: 3px solid #1a272d;
}
.profile-imag a {
	color: #fff;
	font-weight: bold;
}
.profile-imag .avatar-xs {
	border: 2px solid #000;
}


.equal-height-cols{
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.comment_admin_list {
	position: relative;
	width: 100%;
	min-height: 200px;  
	max-height: 650px;
	overflow-y: scroll; 
}
.wrappedText-comment { 
	background: #0b1517;
	margin: 10px 0px;
	padding: 10px;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}
.comments:hover,
.comments:focus,
.comments:active {
	text-decoration: underline !important;
}

.modal-confirm {		
	color: #434e65;
	width: 525px;
}
.modal-confirm .modal-content {
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	background: #47c9a2;
	border-bottom: none;   
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
}
.modal-confirm .close:hover {
	opacity: 0.8;
}
.modal-confirm .icon-box {
	color: #fff;		
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid #fff;
	padding: 15px;
	text-align: center;
}
.modal-confirm .icon-box i {
	font-size: 64px;
	margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #eeb711 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #eda645 !important;
	outline: none;
}
.modal-confirm .btn span {
	margin: 1px 3px 0;
	float: left;
}
.modal-confirm .btn i {
	margin-left: 1px;
	font-size: 20px;
	float: right;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


.bg-danger-2 {
	background: rgba(255,81,81,0.3);
}

.bg-warning-2 {
	background: rgba(255,216,81,0.2);
}
























